<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form
    id="new-form"
    action="/usergames/<%= usergame._id %>?_method=PUT"
    method="POST"
  >
  <section>
    <div>Title: </div>
    <div><%= usergame.title %></div>
    <div>Release Year: </div>
    <div><%= usergame.releaseYear %></div>
    <div>Rating: </div>
    <div><%= usergame.rating %></div>
    <div>Completed? </div>
    <div><%= usergame.completed ? 'Yea' : 'Nah' %></div>
    <label for="rating-select">Rating</label>
    <select name="usergame-rating" id="rating-select" >
      <option value="<%= usergame.rating %>"><%= usergame.rating %></option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <label for="completed-checkbox">Completed?</label>
    <input 
      type="checkbox"
      name="completed"
      id="completed-checkbox"
      <%= usergame.completed ? "checked" : "" %>
    >
    <button type="submit">Save Changes</button>
  </form>
</section>

<%- include('../partials/footer') %>