<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1>My Game List</h1>
  <table>
    <thead>
      <tr> 
        <th><a img src ="/images/cdown.png" class="<%= type === "title" ? "green" : '' %> " href="/usergames/sort/title">Title</a></th>
        <th><a class="<%= type === "releaseYear" ? "green" : '' %>" href="/usergames/sort/releaseYear">Release Year</a></th>
        <th><a class="<%= type === "rating" ? "green" : '' %>" href="/usergames/sort/rating">Rating</a></th>
        <th>Completed?</th>
        <th>Box Art</th>
      </tr>
    </thead>
    <tbody>
      <% usergames.forEach(usergame => { %>
        <tr class="<%= usergame.rating  === 10  ? "red" : '' %>">
          <td><%= usergame.title %></td>
          <td><%= usergame.releaseYear %></td>
          <td><%= usergame.rating %></td>
          <td><%= usergame.completed? "Yea" : 'Nah' %></td>
          <td><img src="/images/gameboxes/<%= usergame.imgName %>"></td>
          <td><a href="/usergames/<%= usergame._id %>">details</a></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>