<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1>My Game List</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Release Year</th>
        <th>Rating</th>
        <th>Completed?</th>
        <th>Box Art</th>
      </tr>
    </thead>
    <tbody>
      <% games.forEach(game => { %>
        <tr class="<%= game.rating  === 10  ? "red" : '' %>">
          <td><%= game.title %></td>
          <td><%= game.releaseYear %></td>
          <td><%= game.rating %></td>
          <td><%= game.completed? "Yea" : 'Nah' %></td>
          <td><img src="../images/gameboxes/<%= game.imgName %>"></td>
          <td><a href="/usergames/<%= game._id %>">details</a></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>