<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Title: </div>
    <div><%= usergame.title %></div>
    <div>Release Year: </div>
    <div><%= usergame.releaseYear %></div>
    <div>Rating: </div>
    <div><%= usergame.rating %></div>
    <div>Completed? </div>
    <div><%= usergame.completed ? 'Yea' : 'Nah' %></div>
    <% if (usergame.owner.equals(user?.profile._id)) { %>
      <a href="/usergames/<%= usergame._id %>/edit">
        <button class="btn">Edit this Game</button>
      </a>
    <% } %>
    <form action="/usergames/<%= usergame._id %>?_method=DELETE" method="POST">
      <button class="btn" type="submit">Delete Game</button>
    </form>
  <% if (user) { %>
    <h3>Add comment</h3>
    <h2>Comments</h2>
    <form action="/usergames/<%= usergame._id %>/comments" method="POST">
      <textarea name="content"></textarea><br>
      <button>Save</button>
    </form>
  <% } %>
  <ul>
    <% usergame.comments?.forEach(comment => { %>
      <li>
        <%= comment.content %> 
        <% if (comment.author.equals(user?.profile._id)) { %>
          <form
            action="/usergames/<%= usergame._id  %>/comments/<%= comment._id %>?_method=DELETE"
            METHOD="POST"
            class="inline"
          >
            <button class="btn" type="submit">Delete Comment</button>
        </form>
          <a href="/usergames/<%= usergame._id %>/comments/<%= comment._id %>/edit">
            <button class="btn">Edit Comment</button>
          </a>
        <% } %>
      </li> 
    <% }) %>
  </ul>
  </section>
</main>
  
<%- include('../partials/footer') %>