<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Title: </div>
    <div><%= usergame.title %></div>
    <div>Box Art</div>
    <div><img src="/images/gameboxes/<%= usergame.imgName %>"></td></div>
    <div>Release Year: </div>
    <div><%= usergame.releaseYear %></div>
    <div>Rating: </div>
    <div><%= usergame.rating %></div>
    <div>Completed? </div>
    <div><%= usergame.completed ? 'Yea' : 'Nah' %></div>
    <% if (usergame.owner.equals(user?.profile._id)) { %>
      <a href="/usergames/<%= usergame._id %>/edit">
        <button class="btn" >Edit this Game</button>
      </a>
    <form action="/usergames/<%= usergame._id %>?_method=DELETE" method="POST">
      <button class="btn" type="submit">Delete Game</button>
    </form>
    <% } %>
  <% if (usergame.owner.equals(user?.profile._id)) { %>
    <h2>Comments</h2>
    <form action="/usergames/<%= usergame._id %>/comments" method="POST">
      <textarea name="content" type="text" placeholder="add comment here..."></textarea><br>
      <button class="btn">Save</button>
    </form>
  <% } %>
  <ul>
    <% usergame.comments.forEach(comment => { %>
      <li>
        <%= comment.content %> 
        <% if (comment.author.equals(user?.profile._id)) { %>
          <a href="/usergames/<%= usergame._id %>/comments/<%= comment._id %>/edit">
            <button class="btn1" >Edit</button>
          </a>
        <form
          action="/usergames/<%= usergame._id  %>/comments/<%= comment._id %>?_method=DELETE"
          METHOD="POST"
          class="inline"
        >
          <button class="btn2" type="submit">Delete</button>
        </form>
        <% } %>
      </li> 
    <% }) %>
  </ul>
  </section>
</main>
  
<%- include('../partials/footer') %>