<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Edit Comment</h1>
  <form 
    action="/games/<%= game._id %>/comments/<%= comment._id %>?_method=PUT"
    method="POST"
  >
    <label>
      Content: 
      <textarea
        cols="30"
        rows="5" 
        type="text"
        name="content" 
        autocomplete="off"
      ><%= comment.content %></textarea>
    </label>
    <button type="submit">Update Comment</button>
  </form>
</section>

<%- include('../partials/footer') %>