<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Title: </div>
    <div><%= game.title %></div>
    <div>Release Year: </div>
    <div><%= game.releaseYear %></div>
    <div>Rating: </div>
    <div><%= game.rating %></div>
    <div>Completed? </div>
    <div><%= game.completed ? 'Yea' : 'Nah' %></div>
  </section>
</main>
  
<%- include('../partials/footer') %>